body {
    font-family: 'Roboto', sans-serif;
   
}
.navbar {
    background-color: #212529;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white;
    font-size: 0.95rem;
    letter-spacing: 0.0625em;
}
.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url('https://picsum.photos/1920/1080');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin-bottom: 100px;
}
.masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.card-header {
    background-color: rgb(62, 60, 63);
    color: white;
    border-radius: 15px 15px 0 0 !important;
    padding: 20px;
}
.card-body {
    padding: 30px;
}
.portfolio-item {
position: relative;
overflow: hidden;
}
.portfolio-image-container {
position: relative;
overflow: hidden;
}

.portfolio-hover {
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
background-color: rgba(0, 0, 0, 0.7);
transition: opacity 0.3s ease-in-out;
}
.portfolio-image-container:hover .portfolio-hover {
opacity: 1;
}

.portfolio-item:hover .portfolio-hover {
opacity: 1;
}

.portfolio-hover-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color: white;
}
.download-button {
display: inline-block;
padding: 10px 20px;
background-color: #212529;
color: white;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.download-button:hover {
background-color: #0056b3;
}
.portfolio-item img {
width: 100%;
height: auto;
}
.modal-content {
position: relative;
}
.btn-close {
position: absolute;
right: 10px;
top: 10px;
z-index: 1000;
}

.subir{
    text-align: center;
}

.subir h1{
    
    text-align: center;
    margin-top:2%
    

}
.subir button{
   
    margin-top: 2%;
    background-color: blueviolet;
    color:white;
    padding:10px

}

