<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="../../../css/contraseña.css"> <!--Llamar estilo css-->

</head>
<body>
    

    <div class="password">
        <div class="password-form">
            <form class="forgot-password">
                <h2>Reestablece tu contraseña</h2>
                <p>Ingresa tu correo electrónico, te enviaremos un código a tu bandeja de entrada</p>
                <div class="password-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" placeholder="Ingresa tu correo electrónico"  maxlength="6" pattern="\d{6}" required>
                </div>
                <a href="code.html" class="button">Continuar</a>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>


